.banner-full {
  width: 100vw;
  margin-left: calc(
    -50vw + 50%
  ); // Це витягує його з контейнера і центрує по всьому екрану
  display: block; // Забезпечує, що зображення займає весь простір
  overflow: hidden; // Щоб уникнути горизонтального прокручування

  &__image {
    display: block;
    width: 100%;
    height: 200px;
  }

  @include on-tablet {
    &__image {
      height: 400px;
    }
  }

  @include on-desktop {
    &__image {
      height: 460px;
    }
  }
}
