.cart {
  @include page-grid;

  align-items: start;

  &__title {
    font-size: 32px;
    font-weight: 700;
    color: $c-dark-text;
    line-height: 140%;
    grid-column: 1 / -1;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
      font-size: 40px;
    }

    @include on-desktop {
      grid-column: 1 / span 6;
      grid-row: 1;
      margin-bottom: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / span 5;
      grid-row: 2;
      margin-top: 56px;
    }
  }

  &__input {
    width: 100%;
    height: 48px;
    padding-left: 16px;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-color: $c-light-bg;
    border-radius: 8px;
    font-size: 14px;
    line-height: 140%;
    font-family: 'Space Mono', monospace;
    color: $c-dark-text;
    transition: border-color 0.3s;

    &::placeholder {
      color: $c-gray-text;
      opacity: 1;
    }

    &:hover {
      border-color: $c-border-hover;
    }

    &:focus {
      outline: none;
      border-color: $c-border-focus;
    }

    &--textarea {
      height: 150px;
      padding-top: 14px;

      resize: vertical;
      line-height: 140%;
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;

    transition:
      background-color 0.3s,
      color 0.3s;

    background-color: $c-dark-text;
    color: $c-light-text;

    &:hover {
      background-color: $c-light-bg;
      color: $c-dark-text;
    }

    &:active {
      background-color: $c-dark-text;
      color: $c-light-text;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;

    grid-column: 1 / -1;

    @include on-tablet {
      margin-top: 80px;
    }

    @include on-desktop {
      grid-column: 7 / span 4;

      grid-row: 2;
      margin-top: 40px;
    }
  }

  &__info-label {
    font-size: 14px;
    font-weight: 400;
    color: $c-gray-text;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__info-text {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    color: $c-dark-text;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
    text-decoration: none;
    transition: color 0.3s ease;
    &:hover {
      color: #888;
    }
  }
}
