.page {
  font-family: 'Space Grotesk', sans-serif;
  color: #292929;

  line-height: 140%;

  font-size: 16px;

  scroll-behavior: smooth;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    min-width: 320px;

    margin: 0;
  }

  &__menu {
    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    opacity: 0;

    transition: translateX(-100%);

    pointer-events: none;

    overflow: auto;

    &:target {
      opacity: 1;

      transition: translateX(0);

      pointer-events: all;
    }

    &__top {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #e5e5e5;
      padding-top: 20px;
    }
  }
}
