.top-bar {
  padding-block: 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 64px;
  }

  &--icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;

    @include on-tablet {
      height: 24px;
    }

    @include hover(transform, scale(1.2));
  }
}

.top-phone {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: inherit;

  &__text {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 700;

    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s ease;
  }

  @include on-desktop {
    &:hover &__text {
      opacity: 1;
      max-width: 250px;
    }
  }
}
