$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$mainTextColor: #292929;
$c-light-bg: #f5f5f7;
$c-dark-text: #1a1a1a;
$c-light-text: #fff;
$c-gray-text: #888;
$c-border-hover: #e0e0e0;
$c-border-focus: #1a1a1a;
